#header{
	width: auto;
	height: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 40px;
	background-color: #10284e;
	color: #fff;
	overflow: hidden;
}
.module h2, .module caption, .inline-group h2{
	background: #30CCA0;
}s
a.section:link, a.section:visited{
	color: black;
}
a:link, a:visited{
	color: black;
}
.module caption, .inline-group h2{
	font-size: 15px;
}